* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: dodgerblue;
    width: 100%;
    height: 20%;
}

.footer {
    display: flex;
    flex-direction: row;
    background-color: dodgerblue;
    width: 100%;
    height: 20%;
}

.texts {
    display: flex;
    align-items: center;
}

.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 60%;
}

.side-menu {
    display: flex;
    background-color: pink;
    height: 100%;
    width: 15%;
}

.content-container {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 85%;
    height: 100%;
}

.content-header {
    display: flex;
    background-color: darkseagreen;
    width: 100%;
    height: 20%;
}

.content {
    display: flex;
    flex-direction: row;
    height: 80%;
}

.article {
    display: flex;
    flex-direction: column;
    width: 82.4%;
    height: 100%;
}

.side-article {
    display: flex;
    flex-direction: column;
    background-color: pink;
    width: 17.6%;
    height: 100%;
}

.normal p {
    font-weight: normal;
}

.bold p {
    font-weight: bold;
}

.bold-text-input-table {
    width: 100px;
}

@media all and (max-width: 1280px) {

    * {
        margin: 0;
    }

    html, body {
        height: initial;
    }

    body {
        display: block;
        width: 100%;
        font-size: 32pt;
    }

    .header {
        display: block;
        width: 100%;
    }

    .footer {
        display: block;
        width: 100%;
    }

    .texts {
        display: block;
        width: 100%;
    }

    .main-container {
        display: block;
        width: 100%;
    }

    .side-menu {
        display: block;
        width: 100%;
        min-height: 200px;
    }

    .content-container {
        display: block;
        width: 100%;
    }

    .content-header {
        display: block;
        width: 100%;
        min-height: 200px;
    }

    .content {
        display: block;
        width: 100%;
    }

    .article {
        display: block;
        width: 100%;
        min-height: 500px;
    }

    .side-article {
        display: block;
        width: 100%;
        min-height: 200px;
    }

    .numbers-form-input {
        width: 50%;
        height: 50px;
        font-size: 100%;
    }

    .numbers-form-submit {
        font-size: 24pt;
    }

    .bold-text-input-table {
        width: 100%;
    }

    .bold-text-input-table td {
        width: 50%;
    }

    .bold-text-input-table input {
        width: 30px;
        height: 30px;
    }

    .filled-table-save {
        font-size: 32pt;
    }
}