* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 20%;
    display: flex;
    background-color: dodgerblue;
}

.footer {
    width: 100%;
    height: 20%;
    display: flex;
    background-color: dodgerblue;
}

.texts {
    display: flex;
    align-items: center;
}

.main-container {
    display: flex;
    height: 60%;
}

.side-menu {
    height: 100%;
    width: 15%;
    display: flex;
    background-color: pink;
}

.content-container {
    width: 85%;
    height: 100%;
}

.content-header {
    width: 100%;
    height: 20%;
    display: inline-block;
    background-color: darkseagreen;
}

.content {
    display: flex;
    height: 80%;
}

.article {
    display: flex;
    flex-direction: column;
    width: 82.4%;
}

.side-article {
    height: 100%;
    width: 17.6%;
    display: flex;
    background-color: pink;
}