* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 20% 12% 48% 20%;
}

.header {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;

    display: flex;
    background-color: dodgerblue;
}

.footer {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;

    display: flex;
    background-color: dodgerblue;
}

.texts {
    display: flex;
    align-items: center;
}

.main-container {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.side-menu {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 4;

    display: flex;
    background-color: pink;
}

.content-header {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;

    display: inline-block;
    background-color: darkseagreen;
}

.article {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.side-article {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;

    display: flex;
    background-color: pink;
}